{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
}
