.navbar {
    position: relative !important;
    top: 0;
    width: auto;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: transparent !important;
}

.navbar a {
    font-weight: 400;
    /* text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.50); */
    /* color: white; */
}

.navbar .buttonWrapper:nth-child(-n + 7)::after {
    /* content: "|"; */
    content: '';
    position: relative;
    top: 50%;
    height: 6px;
    display: inline-block;
    border: 1px solid black;
    border-width: 0.5px;
    margin: auto 3px;
}

/* .navbar .buttonWrapper:nth-child(8),
.navbar .buttonWrapper:nth-child(7)::after {
  margin: 0 0 0 10px;
} */

.hover {
    color: #f5f5f5 !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    /* background-color: #333; */
    background-color: white;
    color: black;
}
