input[type='date'] {
    color-scheme: currentColor;
    width: auto;
}

.tabIconButton {
    animation: expand 0.02s ease;
    text-align: left;
}

@keyframes expand {
    to {
        border-radius: 50%;
    }
    from {
        border-radius: 10px;
    }
}
