.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.4rem 1rem;
}

.modal>button {
    width: 100%;
}

.modal .link {
    cursor: pointer;
    color: rgb(65, 65, 220);
}

.modal .buttonsContainer p {
    margin-block-start: 0.4rem !important;
    font-size: 1rem;

}

/* 
.modal .link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
} */