.header {
    position: relative;
    top: 0;
    bottom: 0;
    height: 50vh;
}

.header .img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: brightness(0.7);
}

.header_details {
    position: relative;
    top: 40%;
    color: white;
    text-shadow: -3px 3px 3px rgba(0, 0, 0, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header_details p {
    font-size: larger;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.80);
    text-align: center;
}
