.header {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
}

.header2 {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    line-height: 2rem;
    word-break: keep-all;
    min-width: fit-content;
    margin: 30px;
    margin-left: 6rem;
}

.header .img {
position: absolute;
top: 0;
width: 100%;
height: inherit;
object-fit: cover;
pointer-events: none;
filter: brightness(0.7);
}

.header_details {
position: relative;
top: 40%;
color: white;
text-shadow: -3px 3px 3px rgba(0, 0, 0, 0.21);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.header_details p {
text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.80);
text-align: center;
}

.tile {
display: flex !important;
flex-direction: column;
align-items: center;
gap: 1rem;
width: 100%;
}

.tile p {
margin: 200;
text-align: center;
font-size: 1.2rem;
word-wrap: break-word;
width: 100%;
}

.row {
display: flex !important;
justify-content: flex-start;
align-items: center;
gap: 2rem;
padding: 5px;
margin: 20px;
margin-left: 50px;
margin-right: 50px;
border-radius: 5px;
width: auto;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.col {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;

padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
min-height: 350px;
/* width: calc( 1vw + 100% ); */
width: 500px;
gap: 1rem;
}

.carcol {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;

padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
min-height: 350px;
width: calc(33.33% - 20px);
gap: 1rem;
}

.carouselItems {
    display: flex;
    flex-wrap: wrap; /* Wrap items if they overflow the container width */
    gap: 1rem; /* Add spacing between items */
    margin-left: 50px;
    margin-right: 50px;
  }
  
.col>div {
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
gap: 1rem;
width: 100%;
}

.col>div p {
margin: 0;
text-align: start;
font-size: 1.2rem;
width: 100%;
word-wrap: break-word;
}

.dateText {
font-size: 1rem;
}

.box {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 1rem;
padding: 2rem;
border-radius: 10px;
background-color: white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
height: 400px;
width: calc(100% - 100px);
}

.box p {
margin: 0;
text-align: start;
font-size: 1.2rem;
word-wrap: break-word;
width: 100%;
}

.imageBox {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 400px;
border-radius: 10px;
overflow: hidden;

}



h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 700;
text-align: center;
}

p {
font-size: 2rem;
font-weight: 400;
margin-block-end: 0;
}


@media screen and (max-width: 1066px) {
/* .row {
    flex-direction: column;
    align-items: center;
} */

.col {
    width: 100%;
}

.box {
    width: 100%;
}

.imageBox {
    width: 100%;
}
}