.container {
    display: flex;
    background-color: #f5f5f5;
    height: calc(100vh - 64px);
    width: 100%;
    max-width: 100%;
    gap: 1rem;
}

.bg {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: inherit;
}

.bg img {
    position: relative;
    top: 0;
    height: inherit;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: inherit;
    justify-content: center;
    gap: 1rem;
    margin: 0 1rem 0 0;
}

.loginContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 14px;
    padding: 1rem 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 1rem;
}


/* .loginContainer > Input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */