.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    width: 400px;
    border-radius: 0.8rem;
    padding: 1rem;

    gap: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row p,
.col p {
    font-size: 1rem;
}

/* .skillshareForm {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.skillshareForm div {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

@media screen and (max-width: 1420px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .imageBox {
        width: 100%;
    }
}
