

.container {
  position: relative;
  height: 100vh;
  padding: 1rem 2rem;
}

.header {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.header .img {
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  object-fit: cover;
  pointer-events: none;
}

.header_details {
  position: relative;
  top: 40%;
  color: white;
  text-shadow: -3px 3px 3px rgba(0, 0, 0, 0.21);
  
}

.eventsF {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;

}

.row {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5px;
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;


  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 350px;
  min-width: 400px;
  max-width: 600px;
}

.col > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.col > div p {
  margin: 0;
  text-align: start;
  font-size: 1.2rem;
}

.dateText {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  text-align: center;
}

p {
  width: auto;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin-block-end: 0;
}


@media screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}
