.header,
.carousel {
    position: relative;
    top: 0;
    bottom: 0;
    height: calc(95vh - var(--toolbar-min-height));
}

.header .img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    filter: brightness(0.7);
    object-fit: cover;
    object-position: 50%;
}

.header_details {
    position: relative;
    /* top: 40%; */
    height: 100%;
    color: white;
    text-shadow: -3px 3px 3px rgba(0, 0, 0, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
    object-fit: cover;
}
.header_details img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tile {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.row {
    display: flex !important;
    justify-content: center;
    gap: 1rem;
    padding: 5px;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 350px;
    height: 400px;
    /* width: calc( 1vw + 100% ); */
    width: 500px;
    gap: 1rem;
}

.col > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

.col > div p {
    margin: 0;
    text-align: start;
    font-size: 1.2rem;
    width: 100%;
    word-wrap: break-word;
}

.dateText {
    font-size: 1rem;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: inherits;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    height: 400px;
    width: calc(100% - 100px);
}
/* .alternatingBox {
    background-color: #f5f5f5;
} */

.box p {
    margin: 0;
    text-align: start;
    font-size: 1.2rem;
    word-wrap: break-word;
    width: 100%;
}

.imageBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: clip;
}
.imageBox img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    text-align: center;
}

.home p {
    font-size: 1rem;
    font-weight: 400;
    margin-block-end: 0;
}

@media screen and (max-width: 1066px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .imageBox {
        width: 100%;
    }
}
